 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ececec;
      height: 100vh;
      padding: 20px;
    }
    .container {
      width: 900px;
      min-height: 520px;
      background-color: #fff;
      display: flex;
      border-radius: 15px;
      box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      position: relative;
    }
    #toggle {
      display: none;
    }
    .left {
      width: 52%;
      padding: 60px 50px;
      transition: 0.4s;
    }
    .left h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 25px;
    }
    .input-box{
        width: 100%;
        margin-bottom: 18px;
    }
    .input-box label{
        font-size: 15px;
        font-weight: 600;
    }
    .input-box input{
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border: 1px solid #bbb;
        border-radius: 5px;
        margin-top: 8px;
    }
    .btn{
        width: 100%;
        padding: 14px;
        background-color: navy;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
    }
    .btn:hover{
        background-color: rgb(7, 7, 162);
    }
    .toggle-text{
        margin-top: 15px;
        font-size: 15px;
    }
    .toggle-text label{
        color: blue;
        cursor: pointer;
        font-weight: bold;
    }
    .right{
        width: 48%;
        background-color: navy;
        color: white;
        padding: 90px 50px;
        clip-path: polygon(34% 0, 100% 0, 100% 100%, 0 100%);
    }

    .right-container{
        margin-left: 100px;
        margin-top: 40px; 
    }
    .right h1{
        font-size: 40px;
        line-height: 1.3;
    }
    .right p{
        margin-top:15px;
        opacity: 0.85;
    }
    .register-form{
        display: none;
    }

    #toggle:checked ~ .container .login-form{
        display: none;
    }
     #toggle:checked ~ .container .register-form{
        display: block;
    }

    @media screen and (max-width:750px) {
        .right-container{
            margin-left: 40px;
        }
    }